@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: "montserrat", sans-serif;
}

.header {
    height: 100px;
    background: #122641e5;
    padding: 0px 20px;
    margin: 0px;
}

.logo {
    position: absolute;
    top: 40px;
    left: 25px;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

.menu {
    float: right;
    display: flex;
    text-transform: uppercase;
    line-height: 100px;
    right: 200px;
    position: absolute;
}

.menu li a {
    font-size: 12px;
    padding: 0px 10px;
    margin: 0px;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn button {
    color: #fff;
    float: right;
    padding: 3px;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 40px;
    right: 75px;
    background: #39567ce5;
    border: none;
    border-radius: 50px;
    transition: 0.3s ease 0s;
    cursor: pointer;
}

.menu li {
    list-style-type: none;
}

.menu li a:hover {
    position: relative;
    font-size: 15px;
    color: #4583d4;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover {
    background: #345e94;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.img {
    position: center;
}